body
{
    background-color: rgb(230, 230, 179);

    width:95%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 20px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: darkred;

       
}

.logotipo{
    text-align: center;

}

header{
    text-align: center;
}

h1{

    color: lightcoral;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-style:italic;
    text-align: left;

}

#header-rs>h2{
    text-align: center;
}

#soferta>h2{
    text-align: center;
}

body
{
    background-image: url("../Formulario/img-form/Fondo\ Formulario.jpeg");
    background-size: 30rem;

    width:95%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 20px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: darkred;

       
}